 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


body {
    font-family: 'montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: sticky;
    top: 0;
}

h1 {
    margin: 0;
}

.terms-section {
    max-width: 800px;
    margin: 2rem auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

p {
    color: #666;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
